QTableWidget {
    border: none;
    background: transparent;
}
QTableWidget::item {
    border-radius: 4px;
    padding: 4px;
}
QTableWidget::item:selected {
    background-color: #0078d7;
    color: white;
}
